{
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
      "semi": 1,
      "indent": ["warn", 2],
      "no-console": "warn",
      "no-debugger": "warn"
  }
}